body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
}
h1 {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 30px;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.profile-pic {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}
table {
  margin-bottom: 30px;
  border-collapse: collapse;
  width: 100%;
}
table td,
table th {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}
table th {
  background-color: #f1f1f1;
  font-weight: normal;
}
